*.csv
*.ldif
*.egg-info
*.log
*.numbers
*.py[co]
*.sublime-workspace
.*.cfg
._*
.DS_Store
.idea/
.venv
__pycache__
_build
bin
build
develop-eggs
dist
eggs
MASTER-PACKAGE
robot_output.xml
typescript
var
venv
